<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.LogMapper">
<cache/>
    <!--添加日志-->
    <insert id="getInsertLog">
        insert into T_LOG
        (log_id,log_type,log_error_code,log_content,user_id,log_date,email)
        values
        (<include refid="logValues"/>)
    </insert>

    <!--查询所有日志-->
    <select id="getSelectLog" resultMap="logResultMap">
         select t.log_id,t.log_type,log_error_code,t.log_content,t.user_id,t.log_date,u.user_name,u.email
         from T_LOG t,s_user u where u.user_id=t.user_id limit #{start},#{currentPageSize}
    </select>

    <!--根据条件查找日志-->
    <select id="getAsyncSelectLog" resultMap="logResultMap">
        select t.log_id,t.log_type,log_error_code,t.log_content,t.user_id,t.log_date,u.user_name,u.email
        from T_LOG t,s_user u where u.user_id=t.user_id
            <trim prefix="and" suffixOverrides="and">
            /*类型*/
            <if test="logType!=null and logType!=''">
                and log_type=#{logType}
            </if>
            /*用户账号*/
            <if test="email!=null and email!=''">
                and email = #{email}
            </if>
            /*用户名*/
            <if test="userName!=null and userName!=''">
                and user_name like concat('%',#{userName},'%')
            </if>
            /*开始时间*/
           <if test="startTime!=null and startTime!=''">
                AND log_date &gt;= '${startTime}'
            </if>
           /*结束时间*/
            <if test="endTime!=null and endTime!=''">
                AND log_date &lt;= '${endTime}'
            </if>
            </trim>
              limit #{start},#{currentPageSize}
            </select>

    <!--分页查询日志的总条数-->
    <select id="selectLogNum" resultType="Integer">
      select count(*) from T_LOG
    </select>


    <resultMap type="Log" id="logResultMap" autoMapping="true">
    </resultMap>


    <sql id="logValues">#{logId},#{logType},#{logErrorCode},#{logContent},#{userId},#{logDate}.#{email}
    </sql>
</mapper>